{% extends "base.html" %}

{% block content %}
<h1>
    <div class="column is-4 is-offset-4">
        <h3 class="title">Change your profile information</h3>
        <div class="box">
            <form method="POST" action="/changeinfo">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="favorite_drink" name="favorite_drink" placeholder="Favorite Drink" autofocus="">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">Submit</button>
            </form>
            <button id="returnHome" class="button is-block is-info is-large is-fullwidth" >Back</button>

            <script type="text/javascript">
                document.getElementById("returnHome").onclick = function () {
                    location.href = "/";
                };
            </script>
        </div>
    </div>

</h1>
{% endblock %}
