{% extends "base.html" %}

{% block content %}
<div column class="column is-4 is-offset-4">
    <h2 class="title">My Groups</h1>

    <table class="center">
        {% for group in groups %}
        <tr>
            <td>
                <a href="mygroups/{{ group.group_id  }}">{{ group.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('main.make_group') }}">Make Group</a>
    <a href="{{ url_for('main.join_group') }}">Join Group</a>
</div>

{% endblock %}

