
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  function CheckItem(val){
    var element=document.getElementById('Item');
    var element1=document.getElementById('regItem');
    if(val=="Choose an Item"||val=="Other") {
      element.style.display='block';
      element.name="name";
      element1.name="";
    }
    else {
      element.style.display='none';
      element.name=""
      element1.name='name';
    }
  }

  function CreateForm(val, action) {
    var form = document.createElement("form");
    var element1=document.getElementById(val + '1');
    element1.name="quantity";
    var element2=document.getElementById(val + '2');
    element2.name="name";
    form.method="POST";
    var element3=document.getElementById(val + '3');
    element3.name="hidden";
    form.action=action;
    form.appendChild(element1);
    form.appendChild(element2);
    form.appendChild(element3);
    document.body.appendChild(form);
    form.submit()
  }
</script>

<style>
    .table {
      margin-left:auto;
      margin-right:auto;
    }

</style>

<div>
<h1 class="has-text-centered has-text-black is-size-1"><strong>Shopping List</strong></h1>
<table class="table is-bordered" id="ItemTable">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Item</th>
      <th>Add to Inventory</th>
      <th>Save Changes</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for key, item in shoppinglist.items() %}
    <tr>
      <td><input class="input" type="number" step="1" min="0" max="100" value="{{item.quantity}}" id="{{item.name}}1"></td>
      <td><input class="input" type="text" value="{{item.name}}" id="{{item.name}}2"></td>
      <td><div class="has-text-centered"><button class="button is-primary" value="{{item.name}}" onclick='CreateForm(this.value, "/shoppinglist/addtoinventory");'>Add</button></div></td>
      <td><div class="has-text-centered"><button class="button is-primary" value="{{item.name}}" onclick='CreateForm(this.value, "/shoppinglist/edit");'>Save</button></div></td>
      <td><div class="has-text-centered"><button class="button is-primary" value="{{item.name}}" onclick='CreateForm(this.value, "/shoppinglist/remove");'>Remove</button></div></td>
      <input type="hidden" id="{{item.name}}3" name="hidden" value="{{item.name}}">
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<div>
  <h1 class="has-text-centered has-text-black is-size-1"><strong>Add New Item</strong></h1>
  <form action="/shoppinglist" method="POST">

  <div class="field">
    <label class="label">Item Name</label>
    <div class="select is-medium">
      <select name="name" id="regItem" onchange='CheckItem(this.value)'>
        <option>Choose an Item</option>
        <option value=apple>Apple</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="column is-three-fifths is-offset-one-fifth">
      <input class="input" type="text" name="name" id="Item" placeholder="Item Name" style="display:none; "/>
    </div>
  </div>

  <div class="field column is-one-fifth is-offset-two-fifths">
    <label class="label" for="Quantity">Quantity</label>
    <input class="input" type="number" name= "quantity" id="Quantity" step="1" min="0" max="100">
  </div>

  <div>
    <input type="submit" class="button is-black is-outlined" value="Add">
  </div>
  </form>
</div>
{% endblock %}