
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  function CheckItem(val){
    var element=document.getElementById('Item');
    var element1=document.getElementById('regItem');
    if(val=="Choose an Item"||val=="Other") {
      element.style.display='block';
      element.name="name";
      element1.name="";
    }
    else {
      element.style.display='none';
      element.name=""
      element1.name='name';
    }
  }

  function UseAutoDate(val){
    var element=document.getElementById('AD')
    var element1=document.getElementById('ExpirationDate')
    if (val=="Yes") {
      element.style.display='block';
      element.name="expirationDate";
      element1.style.display='none';
      element1.name="";
    }
    if (val=="No") {
      element.style.display="none";
      element.name="";
      element1.style.display='block';
      element1.name="expirationDate";
    }
  }

  function EditValues(val) {
    var element1=document.getElementById(val + '1');
    var element2=document.getElementById(val + '2');
    var element3=document.getElementById(val + '3');
    element1.readOnly = !element1.readOnly;
    element2.readOnly = !element2.readOnly;
    element3.readOnly = !element3.readOnly;
  }
</script>

<style>
    .table {
      margin-left:auto;
      margin-right:auto;
    }
</style>

<div>
<h1 class="has-text-centered is-size-1"><strong>Shopping List</strong></h1>
<table class="table is-bordered" id="ItemTable">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Item</th>
      <th>Expiration Date</th>
      <th>Add to Inventory</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <form action="/inventory" method="POST">
      <td><input class="input" type="text" value="3" id="apple1" readonly></td>
      <td><input class="input" type="text" value="Apple" id="apple2" readonly></td>
      <td class="has-text-centered"><input class="input" type="text" value="11/12/13" id="apple3" readonly></td>
      <td><div class="has-text-centered"><input type="submit" class="button is-primary" value="Add"></div></td>
      </form>
      <td><div class="has-text-centered"><button class="button is-primary" value="apple" onclick='EditValues(this.value);'>Edit</button></div></td>
      <td><div class="has-text-centered"><button class="button is-primary">Remove</button></div></td>
    </tr>
    {% for key, item in shoppinglist.items() %}
    <tr>
      <form action="/inventory" method="POST">
      <td><input class="input" type="text" value="{{ item.quantity }}" id="{{ item.name }}1" readonly></td>
      <td><input class="input" type="text" value="{{ item.name }}" id="{{ item.name }}2" readonly></td>
      <td class="has-text-centered"><input class="input" type="text" value="{{ item.expirationDate }}" id="{{item.name}}3" readonly></td>
      <td><div class="has-text-centered"><input type="submit" class="button is-primary" value="Add"></div></td>
      </form>
      <td><div class="has-text-centered"><button class="button is-primary" value="{{item.name}}" onclick='EditValues(this.value);'>Edit</button></div></td>
      <td><div class="has-text-centered"><input type="submit" class="button is-primary" value="Remove"></div></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


<div>
  <h1 class="has-text-centered is-size-1"><strong>Add New Item</strong></h1>
  <form action="/shoppinglist" method="POST">

  <div class="field">
    <label class="label">Item Name</label>
    <div class="select is-medium">
      <select name="name" id="regItem" onchange='CheckItem(this.value)'>
        <option>Choose an Item</option>
        <option value=apple>Apple</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div>
      <input class="input" type="text" name="name" id="Item" placeholder="Item Name" style="display:none; "/>
    </div>
  </div>

  <div class="field">
    <label class="label" for="Quantity">Quantity</label>
    <input class="input" type="number" name= "quantity" id="Quantity" step="1" min="0" max="100">
  </div>


  <div class="control">
    <label class="label">Use Automatic Expiration Date</label>
    <label class="radio">
      <input type="radio" name="AutoDate" onclick='UseAutoDate(this.value);' value="Yes">
      Yes
    </label>
    <label class="radio">
      <input type="radio" name="AutoDate" onclick='UseAutoDate(this.value);' value="No">
      No
    </label>
  </div>

  <div>
    <input type="date" name="expirationDate" id="AD" style="display:none;" value="2011-09-29" readonly />
  </div>

  <div>
    <input type="date" name="expirationDate" id="ExpirationDate" style="display:none; "/>
  </div>

    <div>
      <input type="submit" class="button is-primary is-light" value="Add">
    </div>
  </form>
</div>
{% endblock %}