<!DOCTYPE html> <!--Make the inputs required -->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supershop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script type="text/javascript"> 
      function CheckItem(val){
        var element=document.getElementById('Item');
        if(val=="Choose an Item"||val=="other")
          element.style.display='block';
        else
          element.style.display='none';
      }

      function UseAutoDate(val){
        var element=document.getElementById('AD')
        var element1=document.getElementById('ExpirationDate')
        if (val=="Yes") {
          element.style.display='block';
          element1.style.display='none';
        }
        if (val=="No") {
          element.style.display="none";
          element1.style.display='block';
        }
      }

      function EditValues(val) {
        var element1=document.getElementById(val + '1');
        var element2=document.getElementById(val + '2');
        var element3=document.getElementById(val + '3');
        element1.readOnly= !element1.readOnly;
        element2.readOnly= !element2.readOnly;
        element3.readOnly= !element3.readOnly;
      }

    </script>
  </head>
  <aside class="menu">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a>Profile</a></li>
      <li><a>Shopping List</a></li>
      <li><a>Inventory</a></li>
    </ul>
  </aside>
  <body>
  <section class="hero is-primary is-fullheight">
    <div class="header has-text-centered has-text-weight-bold">
      <h1><strong>Supershop</strong></h1>
    </div>

    <h1>{{ shoppinglist }}</h1>
    <div>
    <h1 class="has-text-centered is-size-1"><strong>Shopping List</strong></h1>
    <table class="table is-bordered" id="ItemTable">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Item</th>
          <th>Expiration Date</th>
          <th>Add to Inventory</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form action="/inventory" method="POST">
          <td><input class="input" type="text" value="3" id="apple1" readonly></td>
          <td><input class="input" type="text" value="Apple" id="apple2" readonly></td>
          <td class="has-text-centered"><input class="input" type="text" value="11/12/13" id="apple3" readonly></td>
          <td><div class="has-text-centered"><input type="submit" class="button is-primary" value="Add"></div></td>
          </form>
          <td><div class="has-text-centered"><button class="button is-primary" value="apple" onclick='EditValues(this.value);'>Edit</button></div></td>
          <td><div class="has-text-centered"><button class="button is-primary">Remove</button></div></td>
        </tr>

        {% for item in shoppinglist %}
        <tr>
          <form action="/inventory" method="POST">
          <td><input class="input" type="text" value="{{item.quantity}}" id="{{item.name}}1" readonly></td>
          <td><input class="input" type="text" value="{{item.name}}" id="{{item.name}}2" readonly></td>
          <td class="has-text-centered"><input class="input" type="text" value="{{item.expirationdate}}" id="{{item.name}}3" readonly></td>
          <td><div class="has-text-centered"><input type="submit" class="button is-primary" value="Add"></div></td>
          </form>
          <td><div class="has-text-centered"><button class="button is-primary" value="{{item.name}}" onclick='EditValues(this.value);'>Edit</button></div></td>
          <td><div class="has-text-centered"><input type="submit" class="button is-primary" value="Remove"></div></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>


    <div>
    <h1 class="has-text-centered is-size-1"><strong>Add New Item</strong></h1>
    <form action="/shoppinglist" method="POST">

    <div class="field">
      <label class="label ">Item Name</label>
      <div class="select is-medium">
        <select name="Item" onchange='CheckItem(this.value)'>
          <option>Choose an Item</option>
          <option value=apple>Apple</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div>
        <input class="input" type="text" name="name" id="Item" placeholder="Item Name" style="display:none; "/>
      </div>
    </div>

    <div class="field">
      <label class="label" for="Quantity">Quantity</label>
      <input class="input" type="number" name= "quantity" id="Quantity" step="1" min="0" max="100">
    </div>


    <div class="control">
      <label class="label">Use Automatic Expiration Date</label>
      <label class="radio">
        <input type="radio" name="AutoDate" onclick='UseAutoDate(this.value);' value="Yes">
        Yes
      </label>
      <label class="radio">
        <input type="radio" name="AutoDate" onclick='UseAutoDate(this.value);' value="No">
        No
      </label>
    </div>

    <div>
      <p id="AD" style="display:none;">Expiration Date: 11/12/13</p>
    </div>

    <div>
      <input type="date" name="expirationDate" id="ExpirationDate" style="display:none; "/>
    </div>

      <div>
        <input type="submit" class="button is-primary is-light" value="Add">
      </div>
    </form>
    </div>
  </div>

  </section>
  </body>
</html>