
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  function CheckItem(val){
    var element=document.getElementById('Item');
    var element1=document.getElementById('regItem');
    if(val=="Choose an Item"||val=="Other") {
      element.style.display='block';
      element.name="name";
      element1.name="";
    }
    else {
      element.style.display='none';
      element.name=""
      element1.name='name';
    }
  }

  function CreateForm(val, action) {
    var form = document.createElement("form");
    var element1=document.getElementById(val + '1');
    element1.name="quantity";
    var element2=document.getElementById(val + '2');
    element2.name="name";
    var element3=document.getElementById(val + '3');
    element3.name="expirationDate";
    var element4=document.getElementById(val + '4');
    element4.name="datePurchased";
    var element5=document.getElementById(val + '5');
    element5.name="hidden";
    form.method="POST";
    form.action=action;
    form.appendChild(element1);
    form.appendChild(element2);
    form.appendChild(element3);
    form.appendChild(element4);
    form.appendChild(element5);
    document.body.appendChild(form);
    form.submit()
  }

  function EditValues(val) {
    var element1=document.getElementById(val + '1');
    var element2=document.getElementById(val + '2');
    var element3=document.getElementById(val + '3');
    element1.readOnly = !element1.readOnly;
    element2.readOnly = !element2.readOnly;
    element3.readOnly = !element3.readOnly;
    if (!element1.readOnly) {
      var element4=document.getElementById(val + '4');
      element4.style.display="block"
    }
  }

  function UseAutoDate(val){
    var element=document.getElementById('AD')
    var element1=document.getElementById('ExpirationDate')
    if (val=="Yes") {
      element.style.display='block';
      element.name="expirationDate";
      element1.style.display='none';
      element1.name="";
    }
    if (val=="No") {
      element.style.display="none";
      element.name="";
      element1.style.display='block';
      element1.name="expirationDate";
    }
  }
</script>

<style>
    .table {
      margin-left:auto;
      margin-right:auto;
    }

</style>

<div>
<h1 class="has-text-centered has-text-black is-size-1"><strong>Inventory</strong></h1>
<table class="table is-bordered" id="ItemTable">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Item</th>
      <th>Expiration Date</th>
      <th>Date Purchased</th>
      <th>Save Changes</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for key, item in inventory.items() %}
    <tr>
      <td><input class="input" type="number" step="1" min="0" max="100" value="{{item.quantity}}" id="{{item.name}}1"></td>
      <td><input class="input" type="text" value="{{item.name}}" id="{{item.name}}2"></td>
      <td><input class="input" type="date" value="{{item.expirationDate}}" id="{{item.name}}3"></td>
      <td><input class="input" type="date" value="{{item.datePurchased}}" id="{{item.name}}4"></td>
      <td><div class="has-text-centered"><button class="button is-primary" value="{{item.name}}" onclick='CreateForm(this.value, "/inventory/edit");'>Save</button></div></td>
      <td><div class="has-text-centered"><button class="button is-primary" value="{{item.name}}" onclick='CreateForm(this.value, "/inventory/remove");'>Remove</button></div></td>
      <input type="hidden" id="{{item.name}}5" name="hidden" value="{{item.name}}">
    </tr>
    {% endfor %}
  </tbody> <!--Add jinja Table here -->
</table>
</div>


<div>
  <h1 class="has-text-centered has-text-black is-size-1"><strong>Add New Item</strong></h1>
  <form action="/inventory" method="POST">

  <div class="field">
    <label class="label">Item Name</label>
    <div class="select is-medium">
      <select name="name" id="regItem" onchange='CheckItem(this.value)'>
        <option>Choose an Item</option>
        <option value="Apple">Apple</option>
        <option value="Bread">Bread</option>
        <option value="Chicken">Chicken</option>
        <option value="Duck">Duck</option>
        <option value="Eggs">Egg</option>
        <option value="Fennel">Fennel</option>
        <option value="Garlic">Garlic</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div class="column is-three-fifths is-offset-one-fifth">
      <input class="input" type="text" name="name" id="Item" placeholder="Item Name" style="display:none; "/>
    </div>
  </div>

  <div class="field column is-one-fifth is-offset-two-fifths">
    <label class="label" for="Quantity">Quantity</label>
    <input class="input" type="number" name= "quantity" id="Quantity" step="1" min="0" max="100">
  </div>

   <div class="control">
    <label class="label has-text-centered">Use Automatic Expiration Date</label>
    <label class="radio">
      <input class="has-text-black" type="radio" name="AutoDate" onclick='UseAutoDate(this.value);' value="Yes">
      Yes
    </label>
    <label class="radio">
      <input type="radio" name="AutoDate" onclick='UseAutoDate(this.value);' value="No">
      No
    </label>
  </div>

  <div>
    <input type="date" name="expirationDate" id="AD" style="display:none;" value="2011-09-29" readonly />
  </div>

  <div>
    <input type="date" name="expirationDate" id="ExpirationDate" style="display:none; "/>
  </div>

  <div>
    <input type="submit" class="button is-black is-outlined" value="Add">
  </div>

  </form>
</div>
{% endblock %}